/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Fullscreen homepage */
.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.margin-top {
    margin-top: 10%;
  }

  h2 {
    color: #e50914; /* Communist red */
    font-size: 30px;
    padding-bottom: 5%;
  }
  .quote {
    background-color: #f9f9f9;
    border-left: 5px solid #e50914;
    padding: 20px;
    margin: 20px 0;
  
    p {
      font-size: 1.2rem;
      font-style: italic;
      margin-bottom: 10px;
    }
  
    cite {
      display: block;
      font-size: 1rem;
      text-align: right;
      color: #666;
    }
  }
  
  .communist-header {
    background-color: #e50914;
    /* Communist red */
    border: 4px solid #ff9900;
    color: #fff;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    border-radius: 0 0 15px 15px;

    &-logo {
      margin-top: 20px;
    }

    h1 {
      margin: 0;
      font-size: 4em;
      padding-left: 10%;
    }

    p {
      margin: 0;
      font-size: 1.5em;
      padding-left: 10%;
    }
  }

  .bio {
    display: flex;
    flex-direction: row;
    align-items: end;

    .person-description-bio {
      width: 46em;
      height: 13em;
    }
  }

  .programTitle {
    margin-top: 12dvh;
  }

  .shortProgram {
    margin: 5dvh 30dvh;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    text-justify: inter-word;
    border: 5px solid #e50914;
    border-radius: 5px;
  }

  .person-description {
    text-align: center;
    font-size: 16px;
    color: #e50914;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
    border: 4px solid #ff9900;

    &-second {
      align-items: start;
    }
  }

  .person-description-container {
    display: flex;
    flex-direction: column;
  }
  .map{
    margin-bottom: -100px;
  }
}


/* Navigation */

.anchorContainer {
  background-color: #e50914;

  .ant-anchor-link-title {
    color: #fff !important;
    font-size: 2em;
  }

  .ant-anchor-ink {
    background-color: #fff !important;
  }
}

nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      margin-right: 20px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

/*contact*/

.contact-us {
  background-color: #e50914;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  color: #fff;
  border: 4px solid #ff9900;
  /* White text */
  text-align: center;
  border-radius: 15px 15px 0 0;

  h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .contact-methods {
    display: flex;
    justify-content: center;

    .method {
      margin: 0 20px;
      text-align: center;
      transition: transform 0.3s ease;
      a{
        color:#ff9900;
      }
      a:hover{
        color:#fff;
        opacity:0.8;
      }
      /* Add hover effect */

      &:hover {
        transform: scale(1.05);
        /* Enlarge on hover */
      }

      i {
        font-size: 3rem;
        margin-bottom: 10px;
      }

      h3,
      p {
        margin: 0;
      }
    }
  }

  .ant-divider-inner-text{
    font-size: 60px;
  }
  
  .social-media {
    margin-top: 40px;

    h4 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }


    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;

      li {
        margin: 0 10px;
        a {
          font-size: 2rem;
          color: #fff;
          transition: color 0.3s ease;
          /* Hover effect for icons */

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

/*footer */

.communist-footer {
  background-color: #333;
  /* Dark color for contrast */
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* MOBILE */
@media only screen and (max-width: 980px) {
  .anchorContainer {
    .ant-anchor-link-title {
      font-size: 1em;
    }
  }

  .homepage {
    .communist-header {
      flex-direction: column;
      text-align: center;

      h1 {
        margin: 0;
        font-size: 3em;
        padding-left: 0;
      }

      p {
        margin: 0;
        font-size: 1em;
        padding-left: 0;
      }
    }
    .bio {
      display: flex;
      flex-direction: column;
      align-items: center;

      .person-description-bio {
        width: 16em;
        height: 48em;
      }
    }

    .shortProgram {
      margin: 5dvh 5dvh;
      padding: 10px;
      font-size: 10px;
      font-weight: 300;
      text-align: center;
      border: 5px solid #e50914;
      border-radius: 5px;
    }
  }

  .contact-us {
  background-color: #e50914;
  padding: 30px;
  color: #fff;
  text-align: center;
  border-radius: 15px 15px 0 0;

  h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .contact-methods {
    display: flex;
    flex-direction: column;
    align-items: center;

    .method {
      margin: 0 0 20px;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      i {
        font-size: 2rem;
        margin-bottom: 10px;
      }

      h3,
      p {
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  .social-media {
    margin-top: 20px;

    h4 {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;

      li {
        margin: 0 0 5px;

        a {
          font-size: 1.5rem;
          color: #fff;
          transition: opacity 0.3s ease;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

}